{% extends 'hnph_base.html' %}
{% load staticfiles %}
{% block title %} 团队成员 {% endblock %}


{% block content %}
    <!--  END Page Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">

                    <!-- Services Section -->
                    <div class="light-background">
                        <div class="container">
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null padding-md-bottom">
                                        <i class="material-icons color service">硬件</i>
                                        <h3 class="margin-bottom-extrasmall">Experience</h3>
                                        <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null padding-md-bottom">
                                        <i class="material-icons color service">技术成果</i>
                                        <h3 class="margin-bottom-extrasmall">Goals</h3>
                                        <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <i class="material-icons color service">招生条件</i>
                                        <h3 class="margin-bottom-extrasmall">Vision</h3>
                                        <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Services Section -->
                    <!--  Team section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text text-center padding-topbottom-null">
                                    <h3 class="big">产品介绍.</h3>
                                </div>
                            </div>
                            <!--  Team  -->
                            <div class="row team padding-onlytop-md">
                                <div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0216.jpg" %} alt="" class="img-responsive">
                                        <h3></h3>
                                        <span>产品名</span>
                                        <span>功能介绍</span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0220.jpg" %} alt="" class="img-responsive">
                                        <h3></h3>
                                        <span>产品名</span>
                                        <span>功能介绍</span>
                                    </div>
                                </div>
								<div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0221.jpg" %} alt="" class="img-responsive">
                                        <h3></h3>
                                        <span>产品名</span>
                                        <span>功能介绍</span>
                                    </div>
                                </div>
								<div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0226.jpg" %} alt="" class="img-responsive">
                                        <h3></h3>
                                        <span>产品名</span>
                                        <span>功能介绍</span>
                                    </div>
                                </div>
                            </div>
							
							
                            <div class="row team padding-onlytop-md">
                                
                                <div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0220.jpg" %} alt="" class="img-responsive">
                                        <h3>产品名</h3>
                                        <span>功能介绍</span>
                                       
                                    </div>
                                </div>
								<div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0226.jpg" %} alt="" class="img-responsive">
                                        <h3>产品名</h3>
                                        <span>功能介绍</span>
                                       
                                    </div>
                                </div>
								<div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0228.jpg" %} alt="" class="img-responsive">
                                        <h3>产品名</h3>
                                        <span>功能介绍</span>
                                       
                                    </div>
                                </div>
								<div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0231.jpg" %} alt="" class="img-responsive">
                                        <h3>产品名</h3>
                                        <span>功能介绍</span>
                                       
                                    </div>
                                </div>

                            </div>
                            <div class="row team padding-onlytop-md">
                                <div class="col-xs-6 col-md-3 padding-leftright-null">
                                    <div class="person">
                                        <img src={% static "assets/img/5R3A0232.jpg" %} alt="" class="img-responsive">
                                        <h3>产品名</h3>
                                        <span>暂无</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
{% endblock %}



        

